/* styles.css */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #AEFD6C;
    background-image: url('../backgroundImage.jpg');
    background-size: cover; /* or 'contain' based on your preference */
    background-position: center center;
    background-repeat: no-repeat;

}

.container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 3);
    background-color: rgba(121, 120, 117, 0.15);
    text-align: center; /* Center the content */
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #101010;
}

label {
    display: block;
    margin: 10px 0;
    color: #000000;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 12px;
    cursor: pointer;
    background-color: #031aad;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Button Row Styles */
.button-row {
    display: flex;
    gap: 10px; /* Space between buttons */
}
button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

a {
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    color: #061a9b;
    font-weight: bold;
}

.links a:hover {
    /*We want to capitalise and get bigger when pressed*/
    color: #031aad;
    text-decoration: underline;
    font-size: 25px;
    text-transform: uppercase;
}